:root 
{
    --uef: rgb(92, 178, 228);
    --aeon: rgb(73, 185, 98);
    --cybran: rgb(226, 114, 100);
    --seraphim: rgb(250, 234, 110);
}

body
{
    font-family: "Segoe UI", "Arial";
    background-color: black;
    color: white;
    text-align: center;
}

a
{
    text-decoration: none;
    /* text-align: left; */
    color: white;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0px 5%;
}

.home-grid3
{
    margin: 4% 0px;
    display: grid;
    grid-template-columns: 15% 20% 0% 10% 35% 20%;
}

.home-grid2
{
    margin: 4% 0px;
    display: grid;
    grid-template-columns: 15% 35% 0% 10% 20% 20%;
}

.faction-card
{
    border: 3px solid #ffffff;
    border-radius: 9px;
}

.home-grid
{
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 40% repeat(4, 1fr);
}

.home-grid-item img
{
    width: 95%;
    margin: 2.5%;
}

.home-grid-item
{
    place-content: center;
    margin: 20px;
}

.flip-card 
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    display: flex;
}
  
.flip-card-inner 
{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    flex: 1;
    margin: 10px;
}

.flip-card:hover .flip-card-inner 
{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back 
{
    backface-visibility: hidden;
}

.flip-card-back 
{
    position: absolute;
    transform: rotateY(180deg);
    width: 100%;
}

.unit-card 
{
    overflow-wrap: break-word;
    border: 1px solid #ffffff;
}

.unit-card-img
{
    border-bottom: 1px solid;
}

/* Add some padding inside the card container */
.unit-container 
{
    padding: 2px 5px;
    margin: 0px;
    font-size: 0.9rem;
}

.unit-card h4
{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.grid-container 
{
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.icon_button
{
    background-color: gray;
    border: white;
    padding: 2px;
}

.notification-text
{
    color: red;
}

.success-text
{
    color: rgb(159, 255, 127);
}

.mub 
{
    margin-left: 35px;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 9px 25px;
    background-color: rgba(84, 84, 84,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.mub:hover
{
    background-color: rgba(84,84,84,0.7);
}

.faction_links
{
    list-style: none;
    font-size: 1.2rem;
}

.faction_links li
{
    display: inline-block;
    padding: 0px 10px;
}

.faction_links li a
{
    transition: all 0.3s ease 0s;
}

.faction_links li a:hover
{
    opacity: 0.7;
}

.logo
{
    margin-right: auto;
}

.back 
{
    display: block;
    background-color: #04AA6D;
    border: none;
    color: gray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: green;
    color: white;
    border: 2px solid #04AA6D;
}

.back:hover 
{
    background-color: #04AA6D;
    color: white;
}

.filter-buttons
{
    display: inline-block;
}

.filter-button {
    appearance: none;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 13px 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.filter-button:hover {
    box-shadow: rgba(256, 256, 256, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.filter-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.fb-off
{
    background-color: #000000;
    color: #FFFFFF;
}

.fb-on
{
    color: #000000;
    background-color: #FFFFFF;
}

#all-units-link
{
    margin: 0px;
    padding: 0px;
}

.uef_colour
{
    color: var(--uef);
}

.aeon_colour
{
    color: var(--aeon);
}

.cybran_colour
{
    color: var(--cybran);
}

.seraphim_colour
{
    color: var(--seraphim);
}

.uef_border_colour
{
    border-color: var(--uef);
}

.aeon_border_colour
{
    border-color: var(--aeon);
}

.cybran_border_colour
{
    border-color: var(--cybran);
}

.seraphim_border_colour
{
    border-color: var(--seraphim);
}

.uef_background_colour
{
    background-color: rgba(0, 102, 255, 0.062);
}

.aeon_background_colour
{
    background-color: rgba(0, 128, 0, 0.062);
}

.cybran_background_colour
{
    background-color: rgba(255, 0, 0, 0.062);
}

.seraphim_background_colour
{
    background-color: rgba(255, 255, 0, 0.062);
}

.select2-results__option
{
    color: black;
    width: 93%;
}
