body
{
    font-family: "Segoe UI", "Arial";
    background-color: black;
    color: white;
    text-align: center;
}

a
{
    text-decoration: none;
    /* text-align: left; */
    color: white;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0px 5%;
}

.mub 
{
    margin-left: 35px;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 9px 25px;
    background-color: rgba(84, 84, 84,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.mub:hover
{
    background-color: rgba(84,84,84,0.7);
}

.faction_links
{
    list-style: none;
    font-size: 1.2rem;
}

.faction_links li, ul li
{
    display: inline-block;
    padding: 0px 10px;
}

.faction_links li a
{
    transition: all 0.3s ease 0s;
}

.faction_links li a:hover
{
    opacity: 0.7;
}

.logo
{
    margin-right: auto;
}

.back 
{
    display: block;
    background-color: #04AA6D;
    border: none;
    color: gray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: green;
    color: white;
    border: 2px solid #04AA6D;
}

.back:hover 
{
    background-color: #04AA6D;
    color: white;
}

.filter-buttons
{
    display: inline-block;
}

.unit
{
    color: aquamarine;
}

.uef_colour
{
    color: rgb(92, 178, 228);
}

.aeon_colour
{
    color: rgb(73, 185, 98);
}

.cybran_colour
{
    color: rgb(226, 114, 100);
}

.seraphim_colour
{
    color: rgb(250, 234, 110);
}
