body
{
    font-family: "Segoe UI", "Arial";
    background-color: black;
    color: white;
    text-align: center;
}

a
{
    text-decoration: none;
    text-align: left;
    color: aquamarine;
}

button 
{
    display: block;
    background-color: #04AA6D;
    border: none;
    color: gray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.back 
{
    background-color: green;
    color: white;
    border: 2px solid #04AA6D;
}

.back:hover 
{
    background-color: #04AA6D;
    color: white;
}