<div class="filter-buttons">
    <form method="post">
        <input type="submit" value="Tech 1" name="T1" class="filter-button {{button_toggles[0]}}">
        <input type="submit" value="Tech 2" name="T2" class="filter-button {{button_toggles[1]}}">
        <input type="submit" value="Tech 3" name="T3" class="filter-button {{button_toggles[2]}}">
        <input type="submit" value="Experimental" name="T4" style="margin-right: 25px;" class="filter-button {{button_toggles[3]}}">
        {% if not faction_site %}
        <input type="submit" value="UEF" name="FUEF" class="filter-button {{button_toggles[4]}}">
        <input type="submit" value="Aeon" name="FAeon" class="filter-button {{button_toggles[5]}}">
        <input type="submit" value="Cybran" name="FCybran" class="filter-button {{button_toggles[6]}}">
        <input type="submit" value="Seraphim" name="FSeraphim" style="margin-right: 25px;" class="filter-button {{button_toggles[7]}}">
        {% endif %}
        <input type="submit" value="Land" name="RLand" class="filter-button {{button_toggles[8]}}">
        <input type="submit" value="Air" name="RAir" class="filter-button {{button_toggles[9]}}">
        <input type="submit" value="Navy" name="RNaval" class="filter-button {{button_toggles[10]}}">
        <input type="submit" value="Anti-Air" name="RAnti Air" class="filter-button {{button_toggles[11]}}">
        <input type="submit" value="Anti-Navy" name="RAnti Naval" class="filter-button {{button_toggles[12]}}">
    </form>
</div>
