<h2 class="logo"><a href="/">Supreme Commander Unit Overview</a></h2>
<nav>
    <ul class="faction_links">
        <li><a href="/faction/UEF" style="color: rgb(92, 178, 228);">UEF</a></li>
        <li><a href="/faction/Aeon" style="color: rgb(73, 185, 98);">Aeon</a></li>
        <li><a href="/faction/Cybran" style="color: rgb(226, 114, 100);">Cybran</a></li>
        <li><a href="/faction/Seraphim" style="color: rgb(250, 234, 110);">Seraphim</a></li>
    </ul>
</nav>
<a href="/manage-units"><button class="mub">Manage Units</button></a>
