{% extends "layout.html" %}
{% block content %}
{% include "filter_bar.html" %}

<h1>
    <ul style="display: inline-block;"> Factions:
        <li><a href="/faction/UEF" class="uef_colour">UEF</a></li>
        <li><a href="/faction/Aeon" class="aeon_colour">Aeon</a></li>
        <li><a href="/faction/Cybran" class="cybran_colour">Cybran</a></li>
        <li><a href="/faction/Seraphim" class="seraphim_colour">Seraphim</a></li>
    </ul>
</h1>

<h2>To access units, click on the desired faction in the navbar or the links provided here.</h2>

<h2>You can use this website for calculating optimal build orders, or filtering for units of a certain role, tech level, or faction.</h2>

<h2 id="filter-tutorial">To filter units, simply toggle the filters you desire that are located under the navbar during unit viewing.</h2>

<h2>All units:</h2>
{% for unit in units %} <!--loops through all the data neatly-->
    <h2><a href="/unit/{{unit[0]}}" class="unit {{unit[2]}}_colour">{{unit[0]}}. {{unit[1]}}</a></h2> <!--displays id, name-->
{%endfor%}

{% endblock %}
