{% extends "layout.html" %}
{% block content %}

<div class="home-grid" style="margin-bottom: 200px;">

<div class="home-grid-item" style="width: 100%;">
<h1>Access units. Filter units. Manage units.</h1>

<h2>You can use this website for:</h2>
<ul style="list-style: none;">
    <li>Calculating optimal build orders.</li>
    <li>Filtering for units of a certain role, tech level, or faction.</li>
    <li>Adding, deleting, or updating units.</li>
</ul>

</div>

<a href="/faction/UEF" class="home-grid-item">
    <div class="faction-card uef_border_colour uef_background_colour">
        <img src="/static/icons/UEFicon.png">
        <h1 class="uef_colour">UEF</h1>
    </div>
</a>

<a href="/faction/Aeon" class="home-grid-item">
    <div class="faction-card aeon_border_colour aeon_background_colour">
        <img src="/static/icons/Aeonicon.png">
        <h1 class="aeon_colour">Aeon</h1>
    </div>
</a>

<a href="/faction/Cybran" class="home-grid-item">
    <div class="faction-card cybran_border_colour cybran_background_colour">
        <img src="/static/icons/Cybranicon.png">
        <h1 class="cybran_colour">Cybran</h1>
    </div>
</a>

<a href="/faction/Seraphim" class="home-grid-item">
    <div class="faction-card seraphim_border_colour seraphim_background_colour">
        <img src="/static/icons/Seraphimicon.png">
        <h1 class="seraphim_colour">Seraphim</h1>
    </div>
</a>

</div>



<div class="home-grid2">
<div></div>
<h1 class="home-grid-item">A brute force faction, great for beginners and viable for pros. However, few consider this to be the best faction, overall this faction serves as a great 'middle'/average faction.</h1>
<div></div>

<div></div>
<a href="/faction/UEF" class="home-grid-item">
    <div class="faction-card uef_border_colour uef_background_colour">
        <img src="/static/icons/UEFicon.png">
        <h1 class="uef_colour">UEF</h1>
    </div>
</a>
<div></div>
</div>

<div class="home-grid3">
<div></div>
<a href="/faction/Aeon" class="home-grid-item">
    <div class="faction-card aeon_border_colour aeon_background_colour">
        <img src="/static/icons/Aeonicon.png">
        <h1 class="aeon_colour">Aeon</h1>
    </div>
</a>
<div></div>

<div></div>
<h1 class="home-grid-item">A hyper corrupt regligious faction to the point of unrelenting murderous intent on any who do not follow the Way. Also the faction most in-tune with the 'fem' energies.</h1>
<div></div>
</div>

<div class="home-grid2">
<div></div>
<h1 class="home-grid-item">Destroyer of numbers, weak to few. This faction has the lowest dps in exchange for high fire-rate, this reduces overkill and allows the bugs to switch targets faster. Versatile bugs, insects wanting freedom.</h1>
<div></div>

<div></div>
<a href="/faction/Cybran" class="home-grid-item">
    <div class="faction-card cybran_border_colour cybran_background_colour">
        <img src="/static/icons/Cybranicon.png">
        <h1 class="cybran_colour">Cybran</h1>
    </div>
</a>
<div></div>
</div>

<div class="home-grid3">
<div></div>
<a href="/faction/Seraphim" class="home-grid-item">
    <div class="faction-card seraphim_border_colour seraphim_background_colour">
        <img src="/static/icons/Seraphimicon.png">
        <h1 class="seraphim_colour">Seraphim</h1>
    </div>
</a>
<div></div>

<div></div>
<h1 class="home-grid-item">The only true followers of the Way, and therefore rendered incapable of harming sentient life. The only way they can fight involving sending warriors who have agreed to permanently abandon the Way.</h1>
<div></div>
</div>


{% endblock %}
