{% extends "layout.html" %}
{% block content %}

<div class="home-grid">

<div class="home-grid-item" style="width: 100%;">
<h1>Access units. Filter units. Manage units.</h1>

<h2>You can use this website for:</h2>
<ul>
    <li>Calculating optimal build orders.</li>
    <li>Filtering for units of a certain role, tech level, or faction.</li>
    <li>Adding, deleting, or updating units.</li>
</ul>

</div>

<a href="/faction/UEF" class="home-grid-item">
    <div class="faction-card uef_border_colour uef_background_colour">
        <img src="/static/icons/UEFicon.png" style="width: 100%;">
        <h1 class="uef_colour">UEF</h1>
    </div>
</a>

<a href="/faction/Aeon" class="home-grid-item">
    <div class="faction-card aeon_border_colour aeon_background_colour">
        <img src="/static/icons/Aeonicon.png" style="width: 100%;">
        <h1 class="uef_colour">Aeon</h1>
    </div>
</a>

<a href="/faction/Cybran" class="home-grid-item">
    <div class="faction-card cybran_border_colour cybran_background_colour">
        <img src="/static/icons/Cybranicon.png" style="width: 100%;">
        <h1 class="uef_colour">Cybran</h1>
    </div>
</a>

<a href="/faction/Seraphim" class="home-grid-item">
    <div class="faction-card seraphim_border_colour seraphim_background_colour">
        <img src="/static/icons/Seraphimicon.png" style="width: 100%;">
        <h1 class="uef_colour">Seraphim</h1>
    </div>
</a>

</div>

<div class="home-grid-item">
<h1>
    <ul style="display: inline-block;"> Factions:
        <li><a href="/faction/UEF" class="uef_colour">UEF</a></li>
        <li><a href="/faction/Aeon" class="aeon_colour">Aeon</a></li>
        <li><a href="/faction/Cybran" class="cybran_colour">Cybran</a></li>
        <li><a href="/faction/Seraphim" class="seraphim_colour">Seraphim</a></li>
    </ul>
</h1>
</div>


{% endblock %}
