{% extends "layout.html" %}
{% block content %}

<form id="manage units form" method="post">
    <label>What would you like to do?</label>
    <select id="submit desire" name="submit desire" onchange="submitForm()">
        {#
        {% if save_data['submit desire'] %}
        <option value="{{save_data['submit desire']}}">{{save_data['submit desire']}}</option>
        {% else %}
        <option value=""></option>
        {% endif %}#}
        <option value="add">Add a unit</option>
        <option value="update">Update a unit</option>
        <option value="delete">Delete a unit</option>
    </select>
    <br><br>

    <input type="hidden" id="is_submitting_desire" name="is_submitting_desire" value="false">

    {% if desire == "delete" %}

    <label>Select the unit you would like to delete:</label>
    <select class="s2" name="unit_id" style="width: 20%">
        <option value=""></option>
        {% for unit in units %}
        <option value="{{unit[0]}}">{{unit[1]}}</option>
        {% endfor %}
    </select>
    <br><br>

    <input type="submit" value="Submit">

    {% elif desire %}

    {% if desire == "update" %}
    <label>Select the unit you would like to update:</label>
    <select class="s2" name="unit_id" style="width: 20%">
        <option value=""></option>
        {% for unit in units %}
        <option value="{{unit[0]}}">{{unit[1]}}</option>
        {% endfor %}
    </select>
    <br><br>

    {% endif %}

    <label>Unit name:</label>
    <input type="text" name="unit_name" placeholder="2-25 characters" size="18" value="">
    <br><br>

    <label>Unit health:</label>
    <input type="text" name="unit_health" placeholder="1-7 characters" size="9" value="">
    <br><br>

    <label>Unit mass cost:</label>
    <input type="text" name="unit_mass_cost" placeholder="1-7 characters" size="9" value="">
    <br><br>

    <label>Unit energy cost:</label>
    <input type="text" name="unit_energy_cost" placeholder="1-7 characters" size="9" value="">
    <br><br>

    <label>Unit build time:</label>
    <input type="text" name="unit_build_time" placeholder="1-7 characters" size="9" value="">
    <br><br>

    <label>Unit tech level:</label>
    <select name="unit_tech_level">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">Experimental</option>
    </select>
    <br><br>
    
    <label>Unit faction:</label>
    <select name="unit_faction">
        <option value=""></option>
        <option value="4">UEF</option>
        <option value="3">Aeon</option>
        <option value="2">Cybran</option>
        <option value="1">Seraphim</option>
    </select>
    <br><br>

    <label>Unit code:</label>
    <input type="text" name="unit_code" placeholder="7 characters" size="7" value="">
    <br><br>

    <label>Unit's personal name:</label>
    <input type="text" name="unit_unit_name" placeholder="2-25 characters" size="18" value="">
    <br><br>

    <input type="submit" value="Submit">
    {% endif %}
</form>

<script>

    $(document).ready(function () {
    //change selectboxes to selectize mode to be searchable
    $(".s2").select2();
    });

    function submitForm() {
        const selectElement = document.getElementById('submit desire');
        if (selectElement.value !== "") {
            document.getElementById('is_submitting_desire').value = "true"
            document.getElementById('manage units form').submit();
        }
    }
</script>

{% endblock %}
